{% extends '::base.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>VIVA AFPA</h1>
    </header>
    <article>
        <p>L’Ecole d’Art Musical donne la possibilité à l'enfant d'avancer progressivemente en se basant sur l'écoute musicale,
            et la répétition régulière à la maison avec l'aide des parents.Alliant aspect ludique et apprentissage de la musique, 
            l’Ecole d’Art Musical propose de faire découvrir aux enfants le plaisir de la musique.
            La méthode est adaptée à la petite enfance.  
            Cet enseignement développe chez l'enfant un rapport beaucoup plus naturel et pratique avec l'instrument
            sans passer par des formations théoriques ni le solfège.
            Elle le rassure en l'aidant à trouver sa place au sein d'un groupe.  
            L'apprentissage s'organise en cours, individuels et collectifs,
            proposés tout au long de l’année ainsi que des concerts très fréquents et d’un stage d’été musical.</p>
    </article>
{% endblock %}
